
body.mod_third .page_main {
    width: 50%;
}

.page_main {
    position: relative;
    background: #f6faf8;
    border-radius: 12px;
}

.index_banner {
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    background: #f6faf8;
    background-size: cover;
    background-position: center;
}

.user_info {
    position: absolute;
    bottom: 10%;
    right: 8%;
}

.user_info .top_me {
    display: flex;
    align-items: center;
}

.user_info .left {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.user_info .name {
    color: #fff;
    font-weight: 600;
}

.user_info .des {
    font-size: 13px;
    text-align: right;
    color: #d6d6d6;
}

.user_info .avatar {
    width: 58px;
    height: 58px;
}

.user_info .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.index_banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/**/
.blog_list_inner, .normal_list_inner, .single_wrap {
    background: #f6faf8;
    padding-bottom: 150px;
}

.moment_cat_nav, .posts_cat_nav {
    padding: 25px 40px;
    border-bottom: 1px solid #ebf2ed;
}

.moment_cat_nav ul, .posts_cat_nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    scrollbar-width: none;
}

.moment_cat_nav ul li, .posts_cat_nav ul li {
    list-style: none;
    flex: none;
}

.moment_cat_nav ul li a.active, .posts_cat_nav ul li a.active {
    background: #22bb6d;
    color: #fff;
}

.moment_cat_nav ul li a, .posts_cat_nav ul li a {
    padding: 5px 10px;
    background: #e1e9e5;
    margin: 0 4px;
    border-radius: 5px;
    font-size: 12px;
    color: #7aa1a1;
    display: flex;
    align-items: center;
}

#post_item {
    padding: 40px;
    padding-top: 0;
}

.p_item {
    padding: 40px 0;
    border-bottom: 1px solid #ebf2ed;
}

.uk-animation-slide-bottom-small {
    animation-name: uk-fade, uk-slide-bottom-small;
}

[class*=uk-animation-] {
    animation: .5s ease-out both;
}

.p_item_inner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
}

.list_user_meta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
}

.list_user_meta .avatar {
    width: 48px;
    height: 48px;
    min-width: 48px;
    margin-right: 10px;
}

.list_user_meta .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.list_user_meta .avatar {
    width: 48px;
    height: 48px;
    min-width: 48px;
    margin-right: 10px;
}

canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.list_user_meta .name {
    color: #576b95;
    display: flex;
    flex-direction: column;
}

.list_user_meta .name time {
    font-size: 13px;
    color: #aab0bf;
}

.blog_content {
    padding-left: 58px;
}

.blog_content .entry-content {
    margin-top: 5px;
}

.page-content, .entry-content, .entry-summary {
    margin: 1.5em 0 0;
}

.p_title {
    margin-bottom: 8px;
    color: #41624b;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.p_title a {
    color: #41624b;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.t_content {
    display: block;
    width: 100%;
    overflow: hidden;
    color: #0d0d0d;
}

.t_content p {
    word-break: break-all;
    color: #0d0d0d;
    margin-bottom: 5px;
    white-space: pre-wrap;
}

.img_list .list_inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.img_list a {
    padding: 3px;
    position: relative;
    width: 25%;
    margin: 3px;
}

.img_list a img {
    border-radius: 5px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ip*/
span.ip_loca {
    font-size: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    color: #354677;
    margin-bottom: 5px;
}

span.ip_loca i {
    margin-right: 3px;
}

[class^="ri-"], [class*="ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.up_like.done span {
    color: #fc7f70;
}

.entry-footer {
    margin-top: 10px;
    background: #ebf2ed;
    padding: 8px 10px;
    border-radius: 8px;
}

.post_footer_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_footer_meta .left, .post_footer_meta .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

a.up_like {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-left: 5px;
    color: #444444;
    font-size: 12px;
}

a.up_like.done i {
    color: #fc7f70;
}

a.up_like i {
    margin-right: 3px;
    font-size: 20px;
    color: #819286;
    position: relative;
}

.post_footer_meta span {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #444444;
    font-size: 12px;
}

.img_list a:nth-last-child(1):first-child img {
    position: relative;
}

.img_list a:nth-last-child(2):first-child img {
    position: relative;
}

.img_list a:nth-last-child(3):first-child img {
    position: relative;
}

.img_list a:nth-last-child(4):first-child img {
    position: relative;
}

.img_list a:nth-last-child(5):first-child img {
    position: relative;
}

.img_list a:nth-last-child(6):first-child img {
    position: relative;
}

.layout > div:first-child:not(.recent-posts) {
    padding: 0px !important;
}
/*分享*/
.share_btn_icon {
    margin-left: 15px;
    font-size: 13px;
}

.pix_icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-left: 5px;
    color: #7a7fae;
    font-size: 20px;
}

.uk-modal {
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

.poster_modal .uk-modal-dialog {
    width: 330px;
    padding: 5px;
    border-radius: 5px;
    min-height: 550px;
}

.post_share_box.hide {
    display: none;
}

.post_share_box {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-top: 1px solid #f4f4f4;
}

.post_share_box a {
    padding: 0 10px;
    color: #656ca7;
}

.poster_box {
    border: none !important;
}

.poster_box img {
    width: 330px;
}

canvas, img, svg, video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.poster_box .loading_box {
    padding: 0;
    padding-top: 220px;
}

.loading_box {
    text-align: center;
    padding: 50px 0px;
    width: 100%;
}
#wrapper #logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.pix_local_player {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
p.no_posts {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}
